html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: #111;

}
.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.gframe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70vh;
}

.box{
    width: 100%;
    height: 100%;
}
iframe{
    width: 70%;
    height: 70vh;
}

/* .frame{
    width: 70%;
    height: 70vh;
} */
.decbox{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15%;
    
}

.discription{
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    width: 70%;
    height: 40vh;
    background-color: #a8715a;
    
}

.discription h1 {
    display: flex;
    color: black;
    flex: 1;
}

.discription p {
    display: flex;
    justify-content: center;
    flex: 1;
}
h1 {
    color: #818181;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


h2 {
    color: #818181;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50vh;
}
